


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply bg-[#F9FAFB] text-gray-700;
    }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.slick-arrow::before,.slick-prev::before, .slick-next::after, .slick-arrow::after{
  display:none

}

.slick-arrow, .slick-prev,
.slick-arrow, .slick-next{
    background:yellow;
    z-index:100;
    width: 100px;
    height: 104px;

}

.slick-arrow, .slick-next{
  position: absolute;
  top:30%;
  background:yellow;
  z-index:100;
  width:100px;
  height: 104px;

}